@import 'tailwindcss';


/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Optional */
html,
body,
#root {
    min-height: 100%;
}

@keyframes loader {

    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(300%);
    }

}